*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background-image: url("1.jpg");
    font-family: 'Geneva' segoe UI
    
}
h1 {
    border: 20px;
    margin-top: 20px;
    color: rgb(34, 95, 119);
    font-size: 40px;
    text-align: center;
    

}
#p1{
    border: 20px;
    background-color: yellowgreen;
    color: rgb(13, 0, 255);
    font-size: 20px;
    line-height: 20px;
    max-width: 1000px;

    margin: 20px;
}
#p2{
    border: 20px;
    background: rgb(191, 238, 191);
    color: rgb(90, 100, 100);
    font-size: 120%;
    margin: 20px;
    max-width: 1000px;
}
#p3{
    border: 20px;
    background: forest;
    color: gold;
    font-size: 120%;
    margin: 20px;
    max-width: 1000px;
}
    
img{
    max-width: 100px;
    border: 15px;
    border-radius: 120px;
}
    


#pht {
    display: flex;
    gap: 15px;
    justify-content: center;
    align: center;
    margin: 20px;
    
}
#interest{
    border: 30px;
    background-color: rgb(224, 130, 96);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: rgb(110, 34, 10)
    

}
#course{
    border: 30px;
    background-color: rgb(87, 169, 207);
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: rgb(143, 22, 208);
    margin: 20px;

} 
ul li{
    list-style: none;
    margin-left: 5px;
    color: rgb(110, 34, 10)
    
}

ol li{
    margin-left: 5px;
    list-style: none;
    color: rgb(143, 22, 208)
}
.table{
    margin: 30px;
    border: 1px solid lch(28.32% 120.37 306.37);
    padding-left: 10px;
    gap: 10px;
    background-color: rgb(59, 167, 89);
    border-width: 0.5px;
    text-align: left;
    border-collapse: collapse;
}
.cform{
    margin: 30px;
    padding: 4px;
    border: 20px;
    background-color: rgb(187, 72, 205);
    input,textarea{padding: 10px; width: 50%; border: 3px solid #6f0863; border-radius: 10px; margin-bottom: 10px;}
    

}
.buttton{background:rgb(47, 165, 255);color: lch(87.81% 119.34 135.75);border: 10px; padding: 5px; cursor: pointer}
button {
    background-color: green;
    color: wheat;
    padding: 10px;

}
button:hover {
    background-color: darkgreen;
}
a{
    color: rgb(244, 8, 213);
    text-decoration: solid;

}
a:hover {
    color: rgb(8, 242, 51);
    text-decoration: underline;

}
nav{
    background-color: rgb(5, 60, 22);
    padding: 5px;
    border: 20px;

}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    display: flex;
    justify-content: space-around;


}
nav ul li {
    display: inline;

}
nav ul li a{
    color: yellow;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}
nav ul li a:hover{
    background-color: blueviolet;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    #inters, #course{
        flex-direction: column;
    }
    img{
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
    body{
        font-size: 16px;
    }
        h1{
            font-size: 10px;
        }
    
}
button,input,select{
    width: 30%;
    display: black;
    margin-bottom: 10px;
    border-radius: 30px;
}

